<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.17.0.185490</string>
	</array>
	<key>AutoAdjust</key>
	<false/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {900, 700}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>CanvasSize</key>
	<string>{900, 700}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2013-06-07 08:40:56 +0000</string>
	<key>Creator</key>
	<string>Toby Clemson</string>
	<key>DisplayScale</key>
	<string>1 pt = 1 px</string>
	<key>ExportShapes</key>
	<array>
		<dict>
			<key>InspectorGroup</key>
			<real>255</real>
			<key>ShapeImageRect</key>
			<string>{{2, 2}, {22, 22}}</string>
			<key>ShapeName</key>
			<string>35105A97-A886-4DBC-A722-7C07DD8C671E-49842-0006499E84D81441</string>
			<key>ShouldExport</key>
			<string>YES</string>
			<key>StrokePath</key>
			<dict>
				<key>elements</key>
				<array>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{-0.37041229023300737, -0.078156385373054249}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.37048774598575385, -0.082173713124076286}</string>
						<key>control2</key>
						<string>{-0.370774477846191, -0.086070037027177193}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.370774477846191, -0.09006316400861536}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.370774477846191, -0.31650976501052597}</string>
						<key>control2</key>
						<string>{-0.25635337438126271, -0.5}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.11516056984184431, -0.5}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.011197633707594079, -0.5}</string>
						<key>control2</key>
						<string>{0.078066521791621213, -0.40031703008155617}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.11805807074731334, -0.25748408799399769}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.13891404080647085, -0.28049901986883263}</string>
						<key>control2</key>
						<string>{0.16416153567547997, -0.29402725006655217}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.19140106241699861, -0.29402725006655217}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.26154473017022806, -0.29402725006655217}</string>
						<key>control2</key>
						<string>{0.31855909694555073, -0.20458120568233973}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.32082276952794864, -0.092943055589168821}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.42160147289629357, -0.079148616926017823}</string>
						<key>control2</key>
						<string>{0.5, 0.077720771520533916}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.5, 0.20269354565475162}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.5, 0.22970160451102295}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.5, 0.36406427724401347}</string>
						<key>control2</key>
						<string>{0.4094229144029935, 0.5}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.29776349148859094, 0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.29776349148859094, 0.5}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.40942291440299439, 0.5}</string>
						<key>control2</key>
						<string>{-0.5, 0.36406427724401347}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.5, 0.22970160451102295}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.5, 0.20269354565475162}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.5, 0.099211054911545915}</string>
						<key>control2</key>
						<string>{-0.4461396836894842, -0.043016867936399805}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.37041229023300737, -0.078156385373054249}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>CLOSE</string>
					</dict>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{-0.37041229023300737, -0.078156385373054249}</string>
					</dict>
				</array>
			</dict>
			<key>TextBounds</key>
			<string>{{0, 0}, {1, 1}}</string>
		</dict>
	</array>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{313.5, 525}, {273, 77}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0.260179</string>
				</dict>
				<key>Font</key>
				<string>OpenSans-Semibold</string>
				<key>NSKern</key>
				<real>0.0</real>
				<key>Size</key>
				<real>48</real>
			</dict>
			<key>ID</key>
			<integer>804</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.928174</string>
						<key>g</key>
						<string>0.963769</string>
						<key>r</key>
						<string>0.740093</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.648691</string>
						<key>g</key>
						<string>0.766143</string>
						<key>r</key>
						<string>0.238216</string>
					</dict>
					<key>CornerRadius</key>
					<real>4</real>
					<key>Draws</key>
					<string>NO</string>
					<key>Width</key>
					<real>6</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fnil\fcharset0 OpenSans-Semibold;}
{\colortbl;\red255\green255\blue255;\red66\green66\blue66;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs96 \cf2 Self Hosted}</string>
			</dict>
			<key>VFlip</key>
			<string>YES</string>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{256, 356}, {148.944580078125, 129.00003051757812}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>803</integer>
			<key>ImageID</key>
			<integer>4</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>14</real>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{437, 393.00003051757812}, {220, 92}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>802</integer>
			<key>ImageID</key>
			<integer>3</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{169.90759344609933, 231.00000465104767}, {560.184814453125, 289.32083129882812}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>798</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>35105A97-A886-4DBC-A722-7C07DD8C671E-49842-0006499E84D81441</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Fuzziness</key>
					<real>7.3881316184997559</real>
					<key>ShadowVector</key>
					<string>{1, 4}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.25</string>
						<key>g</key>
						<string>0.25</string>
						<key>r</key>
						<string>0.25</string>
					</dict>
					<key>CornerRadius</key>
					<real>4</real>
					<key>Width</key>
					<real>3</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{199.98883056640625, 267}, {199.69924926757812, 166}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>800</integer>
					<key>ImageID</key>
					<integer>2</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{399.68807983398438, 338}, {300.32308959960938, 81}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>801</integer>
					<key>ImageID</key>
					<integer>1</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>799</integer>
			<key>Layer</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>2</integer>
	<key>ImageCounter</key>
	<integer>5</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image4.png</string>
		<string>image3.png</string>
		<string>image2.png</string>
		<string>image1.png</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Self Hosted VCS</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Lock</key>
			<string>YES</string>
			<key>Name</key>
			<string>Github</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>NO</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2013-06-07 17:14:40 +0000</string>
	<key>Modifier</key>
	<string>Toby Clemson</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>NO</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{612.00002479553223, 792}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSPrinter</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAlOU1ByaW50ZXIAhIQITlNPYmplY3QAhZKEhIQITlNTdHJpbmcBlIQBKx1EZWxsIDIxNDVjbiAoREVMMDAxNTk5NDc1QzRBKYaG</string>
		</array>
		<key>NSPrinterName</key>
		<array>
			<string>string</string>
			<string>Dell 2145cn (DEL001599475C4A)</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{2, 6}, {1190, 872}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>179</integer>
		<key>VisibleRegion</key>
		<string>{{-48, -16}, {996, 733}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>8</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
